.user-active-orders-main {
  width: 100%;
  overflow: hidden;
  
  .table-container {
    width: 100%;
    gap: 30px;
    overflow-x: auto;

    @media (max-width: $breakpoint-md) {
      min-width: 600px;
    }
  }

  .table-head {
    width: 100%;
    min-width: 600px;
    padding: 30px 60px;
    border-radius: 15px;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    h6 {
      @include typoH6($typo-header-color);
      font-weight: 500;
    }
  }

  .table-body {
    width: 100%;
    min-width: 600px;

    .table-body-row {
      padding: 30px 60px;
      background-color: $white;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;

      p {
        @include typoP($typo-header-color);
      }

      span {
        @include buttonDefault($secondary-500, $white, 10px 20px, 100px);
        text-align: center;
      }

      button {
        @include buttonDefault($danger-500, $white, 10px 20px, 100px);

        &:hover {
          background-color: $danger-600;
        }
      }

      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &:nth-of-type(odd) {
        background-color: rgba(239, 254, 255, 1);
      }
    }
  }
}
