.user-all-orders-main {
  width: 100%;
  gap: 30px;
  overflow: hidden;

  
  .table-container {
    width: 100%;
    gap: 30px;
    overflow-x: auto;

    @media (max-width: $breakpoint-md) {
      min-width: 300px;
    }

    .table-head {
      width: 100%;
      padding: 30px 60px;
      border-radius: 15px;
      background-color: $white;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
  
      @media (max-width: $breakpoint-md) {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      h6 {
        @include typoH6($typo-header-color);
        font-weight: 500;
        white-space: nowrap;
      }
    }

    .table-body {
      width: 100%;
  
      .table-body-row {
        padding: 30px 60px;
        background-color: $white;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
  
        @media (max-width: $breakpoint-md) {
          padding: 15px 30px;
          display: flex;
          align-items: center;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          scrollbar-width: none;
          -ms-overflow-style: none;
        }

        p {
          @include typoP($typo-header-color);
          white-space: nowrap;
        }
  
        span {
          @include buttonDefault($success-500, $white, 10px 20px, 100px);
          text-align: center;
          white-space: nowrap;
        }
  
        &:first-child {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
  
        &:last-child {
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
  
        &:nth-of-type(odd) {
          background-color: rgba(239, 254, 255, 1);
        }
      }
    }
  }

  

  
}
