.choose-subcategory-main-content {
  .container {
    gap: 30px;

    h2 {
      @include typoH2($typo-header-color, center);
    }

    .progress-bar {
      margin-top: 60px;
      width: 100%;
      height: 8px;
      border-radius: 30px;
      background-color: $gray-50;
      position: relative;

      .progress {
        width: 50%;
        height: 100%;
        border-radius: 30px;
        background-color: $secondary-500;
      }

      .progress-label {
        color: $white;
        font-size: 12px;
        font-weight: 600;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $secondary-500;
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);

        &::after {
          content: "";
          width: 2px;
          height: 13px;
          border-radius: 30px;
          background-color: $gray-300;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .subcategories-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }



      .subcategory-card {
        height: 72px;
        border-radius: 20px;
        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
        transition: 0.4s;
        cursor: pointer;

        h6 {
          @include typoH6($typo-header-color);
          font-weight: 500;
        }

        &:hover {
          background-color: $primary-500;

          h6 {
            color: $white;
          }
        }
      }
    }
  }
}
