.navbar {
  padding: 16px 0;
  width: 100%;
  box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.1);

  @media (max-width: $breakpoint-lg) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .mobile-navbar-left {
    display: none;
    gap: 15px;

    @media (max-width: $breakpoint-lg) {
      display: flex;
    }

    .mobile-navbar-left-icon {
      width: 32px;
      height: 32px;
      padding: 6px;
      border-radius: 100%;
      background-color: $white;
      box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.1);
      cursor: pointer;
    }
  }

  .navbar-left {
    gap: 60px;

    .regions-dropdown {
      gap: 10px;
      position: relative;
      cursor: pointer;

      @media (max-width: $breakpoint-lg) {
        display: none;
      }

      & > p {
        @include typoP($typo-header-color);
      }

      .regions-dropdown-container {
        padding: 0;
        width: 320px;
        height: 0;
        border-radius: 30px;
        background-color: $white;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.1);
        overflow: hidden;
        position: absolute;
        top: calc(100% + 50px);
        z-index: 100;
        cursor: default;
        transition: 0.4s;

        .regions-list {
          padding-right: 20px;
          width: 100%;
          height: 100%;
          gap: 8px;
          overflow-y: auto;

          .regions-list-option {
            padding: 16px 32px;
            background-color: $gray-50;
            border-radius: 30px;
            transition: 0.4s;

            p {
              @include typoP($typo-header-color);
            }

            &:hover {
              background-color: $primary-500;
              
              p {
                color: $white;
              }
            }
          }
        }
      }

      .regions-dropdown-container-active {
        padding: 24px;
        height: 350px;
      }
    }
  }

  .navbar-right {
    gap: 32px;

    .navbar-right-icons-container {
      gap: 20px;

      & > div {
        padding: 4px 12px;
        border-radius: 30px;
        gap: 4px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          background-color: $gray-50;
        }

        & > span {
          color: $white;
          font-size: 11px;
          font-weight: 400;
          line-height: 14px;
          padding: 2px 8px;
          border-radius: 100px;
          background-color: $primary-500;
        }
      }

      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }

    .lang-btn {
      @include buttonLG($gray-50, $typo-header-color, 8px 12px);
      gap: 6px;
    }

    .login-btn {
      @include buttonLG($primary-500, $white, 14px 38px);
      transition: all 0.4s;

      a {
        color: $white;
      }

      &:hover {
        background-color: $primary-600;
      }

      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }
  }
}
