.user-my-address-main {
  gap: 20px;

  .address-card {
    padding: 30px 15px 30px 60px;
    border-radius: 15px;
    background-color: $white;

    h6 {
      @include typoH6($typo-header-color);
      font-weight: 500;
    }

    & > button {
      padding: 12px;
      border-radius: 8px;
      background-color: $gray-50;
    }
  }

  & > button {
    @include buttonLG($primary-500, $white, 20px 0);
    border-radius: 15px;

    &:hover {
      background-color: $primary-600;
    } 
  }
}
