.user-profile-layout {
  width: 100%;
  padding: 30px 0 150px;
  background-color: $gray-50;

  .container {
    gap: 30px;

    .user-profile-navbar {
      gap: 30px;

      // User Profile Navbar Top
      .user-profile-navbar-top {
        // User Profile Navbar Top Left
        .user-profile-navbar-top-left {
          gap: 20px;

          .user-id {
            padding: 15px 30px;

            h6 {
              @include typoH6($typo-header-color);
              font-weight: 500;
            }
          }

          & > div {
            padding: 13px 25px 13px 15px;
            border-radius: 30px;
            background-color: $white;
            gap: 10px;

            h6 {
              font-size: 15px;
              font-weight: 500;
              line-height: 22px;
            }
          }
        }

        // User Profile Navbar Top Right
        button {
          @include buttonDefault($primary-500, $white, 15px 30px 15px 15px, 100px);
          gap: 15px;
        
          &:hover {
            background-color: $primary-600;
          }
        }
      }

      // User Profile Navbar Bottom
      .user-profile-navbar-bottom {
        padding: 20px;
        background-color: $white;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        a {
          width: 100%;
        }

        button {
          width: 100%;
          @include buttonDefault($gray-50, $black, 16px 30px, 10px);
          gap: 15px;
        }

        .active {
          background-color: $primary-500;
          color: $white;

          &:hover {
            background-color: $primary-600;
          }
        }
      }
    }
  }
}
