.input-container {
  width: 100%;
  gap: 20px;

  label {
    @include typoP($typo-muted-text);
  }

  input, textarea {
    @include typoH6($black);
    font-weight: 500;
    padding: 20px 30px;
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: 10px;

    &::placeholder {
      @include typoH6($black);
      font-weight: 500;
    }

    &:focus {
      border-color: $primary-500;

      &::placeholder {
        color: $primary-500;
      }
    }
  }

  textarea {
    padding: 30px;
    height: 180px;
  }

  select {
    @include typoH6($black);
    font-weight: 500;
    padding: 20px 30px;
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: 10px;

    &:focus {
      color: $primary-500;
      border-color: $primary-500;
    }
  }
}
