.search-section {
  width: 100%;

  .container {
    gap: 14px;

    .search-input {
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
      }

      input {
        padding: 24px 64px;
        width: 100%;
        border: 1px solid $gray-200;
        border-radius: 60px;

        &::placeholder {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }

      button {
        @include buttonLG($secondary-500, $white, 14px 38px);
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
      }
    }

    .search-output {
      flex-wrap: wrap;
      gap: 24px;

      button {
        @include buttonDefault($gray-50, $typo-header-color, 12px 24px, 30px);

        &:hover {
          color: $white;
          background-color: $secondary-500;
        }
      }
    }
  }
}
