.faq-section {
  width: 100%;

  .container {
    gap: 38px;

    h2 {
      @include typoH2($typo-header-color);

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .faq-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      & > div {
        gap: 24px;

        .accordion {
          padding: 16px 24px;
          border-radius: 50px;
          background-color: $gray-50;
          gap: 20px;
          cursor: pointer;

          p {
            @include typoPLead($typo-header-color);
          }

          button {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: $white;
          }
        }
      }
    }
  }
}
