.user-my-ads-orders-main {
  gap: 30px;

  .my-advertisements-navbar {
    & > div {
      gap: 30px;

      a {
        button {
          @include buttonDefault($white, $black, 20px 50px, 10px);
          font-size: 16px;

          
        }
        .active {
          color: $white;
          background-color: $primary-500;
        }
      }
    }

    button {
      @include buttonDefault($secondary-500, $white, 20px 50px, 10px);
      font-size: 16px;
      gap: 10px;
    }
  }

  & > div {
    gap: 20px;

    .advertisement-card {
      padding: 20px;
      width: 100%;
      border-radius: 20px;
      background-color: $white;
      gap: 30px;

      & > img {
        width: 210px;
        height: 210px;
        border-radius: 15px;
      }

      .advertisement-card-content {
        padding: 10px;
        width: 100%;
        gap: 30px;

        .advertisement-card-content-header {
          gap: 30px;

          .advertisement-card-content-header-top {
            width: 100%;

            h6 {
              @include typoH6($typo-header-color);
            }
          }

          .advertisement-card-content-header-bottom {
            gap: 20px;

            p {
              @include typoP($typo-muted-text);

              span {
                color: $black;
              }
            }
          }
        }

        .advertisement-card-content-details {
          .advertisement-card-content-details-left {
            gap: 30px;

            div {
              gap: 10px;
            }
          }

          .advertisement-card-content-details-right {
            gap: 15px;

            .btn-icon {
              border-radius: 8px;
              padding: 12px;
              background-color: $gray-50;
            }

            .btn-text {
              @include buttonDefault($primary-500, $white, 15px 30px, 10px);
            }
          }
        }
      }
    }
  }
}
