.user-my-ads-orders-main {
  gap: 30px;

  .my-advertisements-navbar {
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
    }

    & > div {
      gap: 30px;

      @media (max-width: $breakpoint-md) {
        width: 100%;
        justify-content: space-between;
        gap: 15px;
      }

      a {
        @media (max-width: $breakpoint-md) {
          width: 100%;
        }

        button {
          @include buttonDefault($white, $black, 20px 50px, 10px);
          font-size: 16px;
          width: 100%;
        }
        .active {
          color: $white;
          background-color: $primary-500;
        }
      }
    }

    & > a {
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }

      button {
        @include buttonDefault($secondary-500, $white, 20px 50px, 10px);
        font-size: 16px;
        gap: 10px;
        width: 100%;
        justify-content: center;
      }
    }
  }

  & > div {
    gap: 20px;
  }
}
