.auth-phone-main {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .container {
    gap: 40px;

    @media (max-width: $breakpoint-xl) {
      align-items: center;
    }

    h3 {
      @include typoH3($typo-header-color);
    }

    form {
      width: 380px;
      gap: 20px;

      // Input Wrapper
      & > div {
        width: 100%;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 26px;
          transform: translateY(-50%);
        }

        input {
          padding: 24px 64px;
          width: 100%;
          border: 1px solid $gray-300;
          border-radius: 10px;

          &::placeholder {
            color: $typo-header-color;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
          }

          &:focus {
            border-color: $primary-500;
          }
        }
      }

      & > button {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        padding: 24px;
        width: 100%;
        border-radius: 16px;
        background-color: $primary-500;
        transition: all .4s;

        & > a {
          color: $white;
        }

        &:hover {
          background-color: $primary-600;
        }
      }
    }
  }
}
