.faq-section {
  width: 100%;

  .container {
    gap: 38px;

    h2 {
      @include typoH2($typo-header-color);

      @media (max-width: $breakpoint-md) {
        text-align: center;
      }
    }

    .faq-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      & > div {
        gap: 24px;

        .accordion {
          padding: 16px 24px;
          border-radius: 50px;
          background-color: $gray-50;
          cursor: pointer;
          overflow: hidden;

          .accordion-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            p {
              @include typoPLead($typo-header-color);
            }

            button {
              width: 40px;
              height: 40px;
              border-radius: 40px;
              background-color: $white;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 0.5s, background-color 0.5s;
            }
          }

          .accordion-description {
            height: 0;
            transition: height 0.5s ease;
            overflow: hidden;

            p {
              @include typoPLead($typo-header-color);
            }
          }

          .accordion-description-active {
            height: auto;
            padding-top: 16px;
          }
        }

        .accordion-active {
          padding: 30px;
          gap: 20px;

          .accordion-header {
            button {
              background-color: $primary-500;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
