.faq-section {
  width: 100%;

  .container {
    gap: 38px;

    h2 {
      @include typoH2($typo-header-color);

      @media (max-width: $breakpoint-md) {
        text-align: center;
      }
    }

    .faq-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      & > div {
        gap: 24px;
      }
    }
  }
}
