.statistics-section {
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xxl) {
      grid-template-columns: repeat(2, 1fr);
    }

    .statistics-card {
      padding: 10px;
      width: 100%;
      border-radius: 60px;
      box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
      gap: 10px;

      .statistics-card-image {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: $primary-500;
      }

      .statistics-card-content {
        gap: 5px;

        & > h3 {
          @include typoH3($primary-500);
          font-weight: 700;
        }

        & > p {
          @include typoP($typo-muted-text);
          line-height: 24px;
        }
      }
    }
  }
}
