.container {
  margin: 0 auto;
  width: 100%;
  transition: all 250ms ease-in-out;

  // Extra small devices (landscape phones, 320px and 430px) - 24px
  @media (min-width: 320px) {
    width: clamp(296px, 95%, 394px);
  }
  // Small devices (landscape phones, 576px and 744px) - 36px
  @media (min-width: 430px) {
    width: clamp(394px, 90%, 688px);
  }
  // Medium devices (tablets, 744px and 992px) - 56px
  @media (min-width: 744px) {
    width: clamp(688px, 85%, 920px);
  }
  // Large devices (laptop, 992px and 1440px) - 72px
  @media (min-width: 992px) {
    width: clamp(920px, 80%, 1340px);
  }
  // Extra large devices (laptop, 1440px and up) - 100px
  @media (min-width: 1440px) {
    width: clamp(1340px, 75%, 1600px);
  }
}

// --------------- Flexbox utilities --------------- //
$flexbox: (
  "flex": (display: flex),
  "flex-row": (flex-direction: row),
  "flex-col": (flex-direction: column),
  "align-start": (align-items: flex-start),
  "align-center": (align-items: center),
  "align-end": (align-items: flex-end),
  "justify-start": (justify-content: flex-start),
  "justify-center": (justify-content: center),
  "justify-end": (justify-content: flex-end),
  "justify-around": (justify-content: space-around), 
  "justify-between": (justify-content: space-between),
  "justify-evenly": (justify-content: space-evenly),
  "self-start": (align-self: flex-start),
  "self-center": (align-self: center),
  "self-end": (align-self: flex-end),
  "wrap": (flex-wrap: wrap),
  "no-wrap": (flex-wrap: nowrap),
);

// --------------- Colors utilities --------------- //
$colors: (
  "color-white": (color: $white),
  "color-success-500": (color: $success-500),
  "color-danger-500": (color: $danger-500),
);

// --------------- Background colors utilities --------------- //
$background-colors: (
  "bg-white": (background-color: $white),
  "bg-success-500": (background-color: $success-500),
  "bg-danger-500": (background-color: $danger-500),
);

// --------------- Function to generate utilities --------------- //
@mixin generate-utilities($map) {
  @each $class, $styles in $map {
    .#{$class} {
      @each $property, $value in $styles {
        #{$property}: #{$value};
      }
    }
  }
}

// --------------- Generate utilities --------------- //
@include generate-utilities($flexbox);
@include generate-utilities($colors);
@include generate-utilities($background-colors);
