


// --------------- Colors --------------- //
$primary-500: rgba(1, 135, 128, 1); // Base
$primary-600: rgba(1, 123, 116, 1); // Hover
$primary-700: rgba(1, 96, 91, 1); // Active

$secondary-500: rgba(255, 99, 50, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$typo-header-color: rgba(24, 28, 50, 1);
$typo-muted-text: rgba(126, 130, 153, 1);

$gray-50: rgba(249, 250, 251, 1);
$gray-200: rgba(234, 236, 240, 1);
$gray-300: rgba(208, 213, 221, 1);

$gradient-color: linear-gradient(72.47deg, #018780 26.51%, #00D7CB 76.47%);

$success-500: rgba(40, 199, 111, 1); // Base
$success-600: rgba(36, 179, 100, 1); // Hover
$success-700: rgba(34, 169, 94, 1); // Active

$danger-500: rgba(234, 84, 85, 1); // Base
$danger-600: rgba(211, 76, 77, 1); // Hover
$danger-700: rgba(199, 71, 72, 1); // Active



// --------------- Breakpoints ---------------  // 
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
